<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalhes</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <div class="input-group">
                    <img src="../../assets/images/bubassauro.jpg" class="card-img-top" alt="imagem do pokemon">
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <p class="col-12">Nome: {{pokemon.nome}}</p>
                    <p class="col-12">Ordem: {{pokemon.ordem}}</p>
                    <p class="col-12">Descrição: {{pokemon.descricao}}</p>
                    <p class="col-12">Peso: {{pokemon.peso}}kg</p>
                    <p class="col-12">Altura: {{pokemon.altura}}m</p>
                    <p class="col-12">Espécie: {{pokemon.especie}}</p>
                    <p class="col-12">Tipo: {{pokemon.tipos}}</p>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<a class="btn btn-primary" (click)="open(content)">Mais detalhes</a>
